<div class="container">
  <h2>Heroes Populares</h2>
  <div class="pop-hero-card">
    <div
      class="img"
      *ngFor="let hero of popularHeroes"
      (click)="goToHero(hero)"
    >
      <img
        [src]="hero.thumbnail.path + '.' + hero.thumbnail.extension"
        alt="..."
      />
      <p style="color: black; text-align: center">
        {{ hero.name }}
      </p>
    </div>
  </div>

  <h3 (click)="selectedHero = null" [ngClass]="{ selected: selectedHero }">
    {{ selectedHero ? "Ver todos los heroes" : "Todos los heroes" }}
  </h3>
  <div class="cards" *ngIf="!selectedHero; else selectedTemplate">
    <div class="card" *ngFor="let hero of heroes" (click)="goToHero(hero)">
      <div class="card-body">
        <img
          src="{{ hero.thumbnail.path }}.{{ hero.thumbnail.extension }}"
          alt=""
        />
        <div class="info">
          <p>{{ hero.name }}</p>
          <!-- <div class="btn-group">
            <button>Ver mas información</button>
          </div> -->
        </div>
      </div>
    </div>
  </div>

  <ng-template #noDescription>
    <p>No description available</p>
  </ng-template>

  <ng-template #selectedTemplate>
    <app-hero [hero]="dataService.heroDetails$ | async"></app-hero>
  </ng-template>

  <div class="footer" *ngIf="!selectedHero">
    <p-button
      [rounded]="true"
      severity="danger"
      label="Previous"
      [disabled]="page === 0"
      (click)="paginate('back')"
    ></p-button>
    <p>{{ page }}</p>
    <p-button
      [rounded]="true"
      severity="danger"
      label="Next"
      (click)="paginate('next')"
    ></p-button>
  </div>
</div>
